<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Agent Configuration Editor</title>
</head>

<body>
	<!-- Loaded project menu -->
	<ul class="nav sidebar-nav" id="loadedProjectMenu" style="display: none;" th:fragment="loaded-project">
		<li class="sidebar-brand"><a href="#"> ACE </a></li>
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img th:src="${userData.imageUrl}" class="img-responsive" alt="" />
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name" th:text="${userData.displayName}" />
			</div>
			<div class="profile-userbuttons">
				<form name="logoutForm" th:action="@{/logout}" method="post">
					<button type="submit" class="btn primary btn-sm">Logout</button>
				</form>
			</div>
		</div>
		<span class="dropdown-header" id="project-name-label">Project: None</span>
		<li><a href="#" data-toggle="modal" data-target="#about-modal"><i class="fa fa-fw fa-home"></i> About</a></li>
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
				class="fa fa-fw fa-file-code-o"></i> Templates <span class="caret"></span></a>
			<ul id="templateList" class="dropdown-menu" role="menu">
				<li th:each="config: ${configs}" th:id="${config.id}" th:text="${config.name}"></li>
			</ul></li>
		<li>
			<form id="upload-template-form">
				<input id="upload-template-input" type="file" name="uploadfile" accept="*" /> <a href="#" id="uploadTemplate">
					<i class="fa fa-fw fa-upload"></i> Upload template
				</a>
			</form>
		</li>
		<li><a href="#" data-toggle="modal" id="-1" data-target="#template-editor-modal"><i class="fa fa-fw fa-code"></i>
				Create template</a></li>
		<li><a href="#" data-toggle="modal" id="-1" data-target="#save-project-modal"><i class="fa fa-fw fa-save"></i>
				Save project</a></li>
		<li><a href="#" id='downloadCode'><i class="fa fa-fw fa-download"></i> Download code</a></li>
		<li><a href="#" id='exportProject'><i class="fa fa-fw fa-external-link"></i> Export project</a></li>
		<li><a href="#" data-toggle="modal" data-target="#close-project-modal"><i class="fa fa-fw fa-times"></i>
				Close project</a></li>
	</ul>

	<!-- Select project menu -->
	<ul class="nav sidebar-nav" id="selectProjectMenu" th:fragment="select-project">
		<!-- Title -->
		<li class="sidebar-brand"><a href="#"> ACE </a></li>
		<!-- User panel -->
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img th:src="${userData.imageUrl}" class="img-responsive" alt="" />
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name" th:text="${userData.displayName}" />
			</div>
			<div class="profile-userbuttons">
				<form name="logoutForm" th:action="@{/logout}" method="post">
					<button type="submit" class="btn primary btn-sm">Logout</button>
				</form>
			</div>
		</div>
		<!-- About button -->
		<li><a href="#" data-toggle="modal" data-target="#about-modal"><i class="fa fa-fw fa-home"></i> About</a></li>
		<!-- Project list -->
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
				class="fa fa-fw fa-file-code-o"></i> Projects <span class="caret"></span></a>
			<ul id="projectList" class="dropdown-menu" role="menu">
				<li th:each="project: ${projects}" th:id="${project.id}" th:text="${project.name}"></li>
			</ul></li>
		<!-- Create project button -->
		<li><a href="#" data-toggle="modal" id="-1" data-target="#create-empty-project-modal"><i
				class="fa fa-fw fa-upload"></i> Create project</a></li>
		<li>
			<form id="import-project-form">
				<input id="import-project-input" type="file" name="uploadfile" accept="*" /> <a href="#" id="importProject"> <i
					class="fa fa-fw fa-reply"></i> Import project
				</a>
			</form>
		</li>
	</ul>
</body>
</html>
