/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
	position: relative;
	overflow: hidden;
}

body, html {
	height: 100%;
}

.nav .open>a {
	background-color: transparent;
}

.nav .open>a:hover {
	background-color: transparent;
}

.nav .open>a:focus {
	background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
	height: 100%;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 300px;
}

#wrapper.toggled #sidebar-wrapper {
	width: 300px;
}

#wrapper.toggled #page-content-wrapper {
	margin-right: -300px;
}

#sidebar-wrapper {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	background: #1a1a1a;
	height: 100%;
	left: 300px;
	margin-left: -300px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 0;
	z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
	display: none;
}

#page-content-wrapper {
	padding-top: 70px;
	width: 100%;
	height: 100%;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 300px;
}

.sidebar-nav li {
	display: inline-block;
	line-height: 20px;
	position: relative;
	width: 100%;
}

.sidebar-nav li:before {
	-moz-transition: width 0.2s ease-in;
	-ms-transition: width 0.2s ease-in;
	-webkit-transition: width 0.2s ease-in;
	background-color: #1c1c1c;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
	width: 3px;
	z-index: -1;
}

.sidebar-nav li:first-child a {
	background-color: #1a1a1a;
	color: #ffffff;
}

.sidebar-nav li:nth-of-type(2):before {
	background-color: #0237fd;
}

.sidebar-nav li:nth-of-type(3):before {
	background-color: #024cfd;
}

.sidebar-nav li:nth-of-type(4):before {
	background-color: #0261fd;
}

.sidebar-nav li:nth-of-type(5):before {
	background-color: #0276fd;
}

.sidebar-nav li:nth-of-type(6):before {
	background-color: #028bfd;
}

.sidebar-nav li:nth-of-type(7):before {
	background-color: #02a0fd;
}

.sidebar-nav li:nth-of-type(8):before {
	background-color: #02b5fd;
}

.sidebar-nav li:nth-of-type(9):before {
	background-color: #02cbfd;
}

.sidebar-nav li:nth-of-type(n+9):before {
	background-color: #02cbfd;
}

.sidebar-nav li:hover:before {
	-webkit-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
	width: 100%;
}

.sidebar-nav li a {
	color: #dddddd;
	display: block;
	padding: 10px 15px 10px 30px;
	text-decoration: none;
}

.sidebar-nav li.open:hover before {
	-webkit-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
	width: 100%;
}

.sidebar-nav .dropdown-menu {
	background-color: #222222;
	border-radius: 0;
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus,
	.sidebar-nav li.open a:hover, .sidebar-nav li.open a:active,
	.sidebar-nav li.open a:focus {
	background-color: transparent;
	color: #ffffff;
	text-decoration: none;
	outline: none;
}

.sidebar-nav>.sidebar-brand {
	font-size: 20px;
	height: 65px;
	line-height: 44px;
}

.sidebar-nav .element-text {
	width: 70%;
}

.sidebar-nav .control-button {
	padding-left: 0px;
	padding-right: 0px;
	width: 10%;
}

.sidebar-nav .control-button a {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
	background: transparent;
	border: none;
	display: block;
	height: 32px;
	margin-left: 15px;
	position: fixed;
	top: 20px;
	width: 32px;
	z-index: 999;
}

.hamburger:hover {
	outline: none;
}

.hamburger:focus {
	outline: none;
}

.hamburger:active {
	outline: none;
}

.hamburger.is-closed:before {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.35s ease-in-out;
	color: #ffffff;
	content: '';
	display: block;
	font-size: 14px;
	line-height: 32px;
	opacity: 0;
	text-align: center;
	width: 100px;
}

.hamburger.is-closed:hover before {
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all 0.35s ease-in-out;
	display: block;
	opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
	-webkit-transition: all 0.35s ease-in-out;
	top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
	-webkit-transition: all 0.35s ease-in-out;
	bottom: 0;
}

.hamburger.is-closed .hamb-top {
	-webkit-transition: all 0.35s ease-in-out;
	background-color: rgba(255, 255, 255, 0.7);
	top: 5px;
}

.hamburger.is-closed .hamb-middle {
	background-color: rgba(255, 255, 255, 0.7);
	margin-top: -2px;
	top: 50%;
}

.hamburger.is-closed .hamb-bottom {
	-webkit-transition: all 0.35s ease-in-out;
	background-color: rgba(255, 255, 255, 0.7);
	bottom: 5px;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle,
	.hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top,
	.hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
	height: 4px;
	left: 0;
	position: absolute;
	width: 100%;
}

.hamburger.is-open .hamb-top {
	-webkit-transform: rotate(45deg);
	-webkit-transition: -webkit-transform 0.2s
		cubic-bezier(0.73, 1, 0.28, 0.08);
	background-color: #ffffff;
	margin-top: -2px;
	top: 50%;
}

.hamburger.is-open .hamb-middle {
	background-color: #ffffff;
	display: none;
}

.hamburger.is-open .hamb-bottom {
	-webkit-transform: rotate(-45deg);
	-webkit-transition: -webkit-transform 0.2s
		cubic-bezier(0.73, 1, 0.28, 0.08);
	background-color: #ffffff;
	margin-top: -2px;
	top: 50%;
}

.hamburger.is-open:before {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.35s ease-in-out;
	color: #ffffff;
	content: '';
	display: block;
	font-size: 14px;
	line-height: 32px;
	opacity: 0;
	text-align: center;
	width: 100px;
}

.hamburger.is-open:hover before {
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all 0.35s ease-in-out;
	display: block;
	opacity: 1;
}

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

body, html {
	background-color: #0276FD;
}

body h1, body h2, body h3, body h4 {
	color: rgba(255, 255, 255, 0.9);
}

body p, body blockquote {
	color: rgba(255, 255, 255, 0.7);
}

body a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: underline;
}

body a:hover {
	color: #ffffff;
}

/*-------------------------------*/
/*          Profile               */
/*-------------------------------*/
.profile-sidebar {
	padding: 20px 0 10px 0;
}

.profile-userpic img {
	float: none;
	margin: 0 auto;
	width: 35%;
	height: 35%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-usertitle {
	text-align: center;
	margin-top: 20px;
}

.profile-usertitle-name {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.profile-userbuttons {
	text-align: center;
	margin-top: 10px;
}

.profile-userbuttons .btn {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 15px;
	margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
	margin-right: 0px;
}

/*-------------------------------*/
/*          Blockly         */
/*-------------------------------*/
.container {
	height: 100%;
}

#blocklyRow {
	height: 90%;
	background-color: #000000;
	box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

#blocklyRow #blocklyColumn {
	height: 100%;
	padding: 10px;
}

.blockly-panel {
	position: relative;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .37);
	width: 100%;
	height: 100%;
}

.blocklySvg {
	background-color: #191919 !important;
}

/*-------------------------------*/
/*          Code Display               */
/*-------------------------------*/
.output-panel {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #191919;
	overflow: overlay;
	padding: 8px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .37);
}

.dropdown-bar {
	display: block;
	font-family: sans-serif;
	font-size: 16px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
}

#languageDropdown {
	border: 0;
	background-color: #191919;
	font-size: 16px;
	outline: none;
}

#im-just-an-underline {
	display: inline;
	padding-right: 5px;
}

.POps {
	height: 1px;
	border: 0;
	background-color: #FFFFFF;
}

.but-not-that-pretty {
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.output-panel::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	opacity: 0;
}

.output-panel::-webkit-scrollbar, pre.prettyprint::-webkit-scrollbar {
	width: 12px;
	opacity: 0;
}

.output-panel::-webkit-scrollbar-thumb, pre.prettyprint::-webkit-scrollbar-thumb
	{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #ccc;
}

/*-------------------------------*/
/*             Modals            */
/*-------------------------------*/
.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: all;
}

.modal-header-error {
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
	color: white;
	background-color: #D1322E;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-header-editor {
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
	color: white;
	background-color: #337AB7;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#template-editor-error {
	margin-top: 20px;
}

#template-editor-modal .modal-dialog {
	width: 800px;
}  

/*-------------------------------*/
/*          Miscellaneous        */
/*-------------------------------*/
#upload-template-input {
	display: none
}

#create-project-input {
	display: none
}

#create-empty-project-input {
	display: none
}

@media ( min-width : 1700px) {
	.container {
		width: 1555px;
	}
}

.highlighted-item {
	background-color: #0237fd;
}

#import-project-input {
	display: none
}

#templateList li {
	padding-right: 10px;
}

#ace-editor-container {
	height: 500px;
}

#ace-editor { 
	position: absolute;
	width: 95%;
	height: 500px;
}

#about-title {
	color: black;
	font-size: 20px;
	text-align: center;
}

#about-body p {
	margin: 10px 10px 10px 10px;
	color: black;
}

#about-authors {
	color: gray !important;
	font-size: 10px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	text-align: center;
}

#about-links {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	margin-left: 20px !important;
	text-align: left;
}

#about-links a {
	color: #00008B !important;
	margin-top: 30px !important;
	font-size: 13px;
	text-decoration: none;
}