<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Agent Configuration Editor</title>

<!-- SCRIPTS -->
<script th:src="@{js/lib/jquery-3.1.1/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<script th:src="@{js/lib/blockly/blockly_compressed.js}"></script>
<script th:src="@{js/lib/blockly/blocks_compressed.js}"></script>
<script th:src="@{js/lib/blockly/javascript_compressed.js}"></script>
<script th:src="@{js/lib/blockly/python_compressed.js}"></script>
<script th:src="@{js/lib/blockly/php_compressed.js}"></script>
<script th:src="@{js/lib/blockly/lua_compressed.js}"></script>
<script th:src="@{js/lib/blockly/dart_compressed.js}"></script>
<script th:src="@{js/lib/prettify/prettify.js}"></script>
<script th:src="@{js/lib/blockly/msg/js/en.js}"></script>
<script th:src="@{js/lib/jszip/jszip.min.js}"></script>
<script th:src="@{js/lib/jszip/FileSaver.js}"></script>
<script th:src="@{js/lib/ace-editor/ace.js}"></script>
<script th:src="@{js/lib/ace-editor/theme-github.js}"></script>
<script th:src="@{js/lib/ace-editor/mode-ace_template.js}"></script>
<script th:src="@{js/src/ace-blockly-override.js}"></script>
<script th:src="@{js/src/ace-blockly-toolbox.js}"></script>
<script th:src="@{js/src/ace-blockly-generators.js}"></script>
<script th:src="@{js/src/ace-blockly-core.js}"></script>
<script th:src="@{js/src/ace-core.js}"></script>
<script th:src="@{js/src/ace-config-editor.js}"></script>

<!-- STYLES -->
<link rel="stylesheet" th:href="@{js/lib/font-awesome-4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{js/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{js/lib/prettify/prettify.css}" />
<link rel="stylesheet" th:href="@{js/lib/prettify/styles/desert.css}" />
<link rel="stylesheet" th:href="@{css/ace-home.css}" />

</head>

<body>
	<div id="wrapper">
		<div class="overlay"></div>
		<!-- Sidebar -->
		<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
			<ul th:replace="html/fragments/menu :: loaded-project">Loaded project menu
			</ul>
			<ul th:replace="html/fragments/menu :: select-project">Select project menu
			</ul>
		</nav>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
				<span class="hamb-top"></span> <span class="hamb-middle"></span> <span class="hamb-bottom"></span>
			</button>
			<div class="container">
				<div id="blocklyRow" class="row">
					<div id="blocklyColumn" class="col-sm-9">
						<div id="blocklyDiv" class="blockly-panel"></div>
					</div>
					<div id="blocklyColumn" class="col-sm-3">
						<div id="codeDiv" class="output-panel">
							<div class="dropdown-bar">
								Language:
								<div id="im-just-an-underline">
									<select id="languageDropdown" onChange="updateDisplayedCode();">
										<option value="JavaScript">JavaScript</option>
										<option value="Python">Python</option>
										<option value="PHP">PHP</option>
										<option value="Lua">Lua</option>
										<option value="Dart">Dart</option>
									</select>
								</div>
							</div>
							<hr class="POps" />
							<pre></pre>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

		<!-- MODALS -->

		<div id="about-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header-editor">
							<i class="fa fa-fw fa-info-circle"></i> <span id="error-title">About</span>
							<button type="button" class="close" data-dismiss="modal">
								<i class="fa fa-fw fa-times"></i> <span class="sr-only">Close</span>
							</button>
						</div>
						<div class="modal-body" id="about-body">
							<h1 id="about-title">Agent Configuration Editor</h1>
							<hr />
							<p>Agent Configuration Editor is a graphic tool for creating configurations of experiments conducted by using
								Evolutionary Multi-Agent Systems.</p>
							<p id="about-links">
								<a target="_blank" href="https://bitbucket.org/aceagh/agent-configuration-editor/wiki/Home"> <i
									class="fa fa-fw fa-book"></i>Help
								</a><br /> <a target="_blank" href="https://bitbucket.org/aceagh/agent-configuration-editor"><i
									class="fa fa-fw fa-bitbucket"></i>Agent Configuration Editor on BitBucket</a>
							</p>
							<p id="about-authors">
								<b>Authors:</b> Szymon Górowski, Robert Maguda, Paweł Topa, PhD
							</p>

						</div>
						<div class="modal-footer">
							<div class="center-block text-center">
								<button type="button" class="btn btn-default" id="" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Project -->
		<div th:replace="html/fragments/project-select-modals :: load-project"></div>
		<div th:replace="html/fragments/project-select-modals :: create-empty-project"></div>
		<div th:replace="html/fragments/project-select-modals :: rename-project"></div>
		<div th:replace="html/fragments/project-select-modals :: delete-project"></div>
		<div th:replace="html/fragments/project-select-modals :: import-project"></div>
		<div th:replace="html/fragments/project-view-modals :: close-project"></div>

		<!-- Template -->
		<div th:replace="html/fragments/project-view-modals :: load-template"></div>
		<div th:replace="html/fragments/project-view-modals :: rename-template"></div>
		<div th:replace="html/fragments/project-view-modals :: delete-template"></div>
		<div th:replace="html/fragments/project-view-modals :: parser-error"></div>
		<div th:replace="html/fragments/project-view-modals :: save-project"></div>
		<div th:replace="html/fragments/project-view-modals :: template-editor"></div>

	</div>
	<!-- /#wrapper -->
</body>
</html>
