<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Agent Configuration Editor</title>

<!-- SCRIPTS -->
<script th:src="@{js/lib/jquery-3.1.1/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<!-- STYLES -->
<link rel="stylesheet" th:href="@{js/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{js/lib/font-awesome-4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{js/lib/social-buttons/social-buttons.css}" />
<link rel="stylesheet" th:href="@{css/ace-welcome.css}" />
</head>
<body>
	<div id="loginButton">
		<a class="btn btn-lg btn-google-plus" href="/home" role="button"><i class="fa fa-google-plus"></i> | Connect with
			Google Plus</a>
	</div>
</body>
</html>
